/* CSS Document */
body {
	margin:0px;
	padding:0px;
	font-family: 'Open Sans',sans-serif;
}

#player-body{
    background-image: url("editor/default_background.jpeg");
    background-repeat: repeat;
    overflow: hidden;
}

h1 {
	font-size:45px;
	color:#FFFFFF;
	font-weight:normal;
	padding:0px;
	margin:0px;
}

h2 {
	font-size:45px;
	color:#FFFFFF;	
	font-weight:normal;
	padding:0px;
	margin:0px;	
}

h3 {
	font-size:18px;	
	font-weight:normal;	
}

.gl-playerBody {
    overflow:hidden;
    background-image:url(player/paperTextureNo4402_preview.jpeg);
    background-repeat:repeat;
}

.userBar {
    height: 40px;
    width: 100%;
    background-color: darkorange;
    position: fixed;
    top:0;
    left:0;
    display: block;
    z-index:200;
}

.topBarSpace {
    margin-top: 40px;
}

.pageFooter {
    background-color: #222222;
    padding: 20px;
    color: #838d96;
}

.pageFooterContent {
     font-size: 13px;
}

.gl-stepButtonGeneral {
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    width: 16px;
    height: 16px;
    border-radius: 8px;
	display:block;
	background-color:#333;
	color:#FFF;
	margin:10px;
	float:left;
    cursor: pointer;
}

#gl-playerWindow {
	width:100%;
	height:100%;
}

#gl-playerTopBar {
    position: relative;
	height:60px;
	padding:10px;
	margin-bottom:10px;	
	display:block;
	width:100%;
    z-index: 600;
    background-color: #111111;
}

#gl-playerBottomBar {
    position: fixed;
    bottom: 5%;
    left: 10%;
	height:80px;
    border-radius:40px;
	display:block;
	width:80%;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.5);	
}

#gl-question {
    background-image: url("player/think.png");
    background-repeat: no-repeat;
    width: 60px;
    height: 50px;
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 20px;
    float: left;
    cursor: pointer;
    position: relative;
}

#gl-question:hover {
    background-position: 0px -61px;
}

#gl-questionWindowClose{
    display: block;
    background-image: url("player/close-big.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin-right: 20px;
    margin-top:  20px;;
    float: right;
    width: 24px;
    height: 30px;
    cursor: pointer;
}

#gl-questionWindowClose:hover{
    background-position: 0px -43px;
}

#gl-stepsButtonWrapper{
    float: left;
}

#gl-playerCanvas {
	display:block;
	width:inherit;
	overflow:hidden;
}

#gl-loading {
	display:none;
	position:fixed;
	background-image:url(player/loading.gif);
	width:100px;
	height:100px;
	top:50%;
	left:50%;
	z-index:9999;
	background-color:#FFF;
}

#gl-stepsContent {
	width:10000px;	
	position:relative;
	left:0px;
}

#gl-stepsWrapper {
	padding:0px;
	margin:0px;
	position:relative;
}

.gl-stepContentWrapper {
    background-color:#ffffff;
    border: 8px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    margin: 0 auto;
}

.gl-stepDescription {
    height: 30px;
    overflow: hidden;
    font-weight: 300;
    font-size: 18px;
}

.gl-playerStepWrapper {
	display:block;
	width:600px;
	overflow:hidden;
	position:absolute;
}

.gl-circleButton {
	border-radius: 50%;
	width: 90px;
	height: 60px; 	
	background-color:#000;
	background-color: rgba(0, 0, 0, 0.5);		
	padding-top:30px;	
	z-index:1000;
}

.gl-circleButton:hover {
	cursor:pointer;
	background-color: rgba(0, 0, 0, 0.8);	
}

.arrowObject {
	background-image:url(player/arrow.png);
	background-repeat:no-repeat;
	width:50px;
	height:32px;
}

.gl-leftArrow {
	position:fixed;
	top:50%;
	left:1%;
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */		
}

.gl-rightArrow {
	position:fixed;
	top:50%;
	right:1%;
	transform:rotate(270deg);
	-ms-transform:rotate(270deg); /* IE 9 */
	-webkit-transform:rotate(270deg); /* Safari and Chrome */		
}

#gl-questionWindow {
	position:fixed;
    top: 80px;
	display:none;
    padding-left: 5%;
    background-color: rgba(0, 0, 0, 0.7);
    width:95%;
	height:400px;
	z-index:80;
    color: #ffffff;
}

#gl-questionText {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 50px;
}

#gl-flashMessage {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 300;
    display: block;
    float: left;
}

.gl-thinkTitle {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.gl-guiderImage {
	display:block;
	width: 60px;
	height: 60px;
	background-color:#06F;	
	float:left;
	margin-right:15px;
}

.gl-buttonOutside {
    cursor: pointer;
    border: 1px solid #5f6365;
    padding: 6px 6px 2px 6px;
    float: left;
}

.gl-buttonInner {
    background-color: #fcd116;
    padding: 6px;
    float: left;
}

.gl-buttonMain {
    background-color: #fcd116;
    border: 2px solid #000000;
    color: #0e0e0e !important;
    text-decoration: none;
    padding: 9px 20px 9px 20px;
    float: left;
}

.gl-buttonMain:hover {
    color: #0e0e0e;
    text-decoration: none;
}

.gl-embedFrame {
    border: 8px solid rgba(0, 0, 0, 0.3);;
    border-radius: 8px;
    float: left;
}

.h1-player {
    font-size: 40px;
    font-weight: 300;
    color: #FFFFFF;
}

.player-radio {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance: none;
    background-image: url("editor/check.png");
    background-repeat: no-repeat;
    padding: 9px;
    display: block;
    width: 22px;
    height: 20px;
    position: relative;
    float: right;
    right: 10px;
    top: 15px;
}

.player-radio:checked {
    background-position: 0px -38px;
}

.player-answerField {
    background-color: #FFFFFF;
    border: solid 1px #cacdce;
    padding: 10px;
    margin-bottom: 15px;
    display: block;
    width: 400px;
    font-size: 18px;
    font-weight: 300;
    color: #838d96;
}

.gl-playerAnswersWrapper {
    width: 500px;
    float: left;
}

.gl-slidesliveBox {
    z-index: 2000 !important;
}


