// Place all the styles related to the guider controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit-topBar{
  height: 100px;
  width: 100%;
  background-color: #2e2e2e;
}

.edit-stepBar{
  height: 80px;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #222222;
  border-radius:40px;
}

#edit-newStepButton {
  background-color: #fcd116;
}

#edit-nextStepButton {


}

#edit-prevStepButton {

}

#edit-changeTemplateButton {


}

#edit-saveGuiderButton {
  background-color: lawngreen;
  width: 70px;
  height: 30px;

}

#edit-questionSwitch {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
}

#edit-switchOn {
  display: block;
  width: 30px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  background-color: #346f0d;
  padding-left: 10px;
  padding-top: 2px;
  height: 21px;
  float: left;
}

#edit-switchOff {
  display: block;
  width: 35px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  background-color: #b4b6b6;
  padding-left: 5px;
  padding-top: 2px;
  height: 21px;
  float: left;
}

.edit-stepGeneralButton {
  background-color: #993300;
  width: 20px;
  height: 20px;
  float: left;
}

#edit-watchColumn {

}

#edit-thinkColumn {

}
