// Place all the styles related to the guider controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit-topBar{
  height: 80px;
  padding-top: 20px;
  width: 100%;
  background-color: #2e2e2e;
}

.edit-stepBar{
  height: 58px;
  padding-top: 22px;
  padding-left: 35px;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #222222;
  border-radius:40px;
}

#edit-newStepButton {
  background-image: url("editor/pages.png");
  background-position: 0px -56px;
  background-repeat: no-repeat;
  width: 50px;
  height: 32px;
  float: left;
  color: #9ea4a6;
  cursor: pointer;
  text-align: left;
  padding-left: 50px;
  padding-top: 8px;
}

#edit-newStepButton:hover {
  background-image: url("editor/pages.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

#edit-nextStepButton {


}

#edit-prevStepButton {

}

#edit-changeTemplateButton {


}

#edit-guiderName {
  font-size: 40px;
  font-weight: 300;
  color: #FFFFFF;
  border: none;
  background-color: inherit;
}

#edit-saveGuiderButton {
  background-image: url("editor/save.png");
  background-repeat: no-repeat;
  color: #FFFFFF;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 20px;
  float: right;
  height: 30px;
  cursor: pointer;

}

#edit-saveGuiderButton:hover {
  color: #fcd116;
}

#edit-questionSwitch {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
}

#edit-switchOn {
  display: block;
  width: 30px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  background-color: #346f0d;
  padding-left: 10px;
  padding-top: 2px;
  height: 21px;
  float: left;
}

#edit-switchOff {
  display: block;
  width: 35px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  background-color: #b4b6b6;
  padding-left: 5px;
  padding-top: 2px;
  height: 21px;
  float: left;
}

.edit-stepGeneralButton {
  background-image: url("editor/pages.png");
  background-repeat: no-repeat;
  width: 38px;
  height: 40px;
  float: left;
  cursor: pointer;
}

.edit-stepGeneralButtonActive {
  border-bottom: 5px solid #0066FF;
}

.edit-step-empty{
  background-position: 0px -56px;
}

.edit-step-finished{
  background-position: 0px -112px;
}

.edit-step-problematic{
  background-position: 0px -168px;
}

#edit-watchColumn {

}

#edit-thinkColumn {

}

#edit-thinkBox {
  background-color: #dddddd;

}
