.homepageTitles {
  color: #838d96;
  font-weight: 300;
}

.homepageHeader {
  background-image:url("homepage/hp-top.jpg");
  background-repeat: no-repeat;
  height: 603px;
  width: 100%;
  overflow: hidden;
}

.homepageHeaderContent {
  background-image:url("homepage/hp-gradient-left.png");
  background-repeat: repeat-y;
  padding-left: 4%;
  background-position: left;
  padding-top: 4%;
  height: 603px;
  width: 100%;
}

.hp-mainTitle {
  font-weight: 300;

}

.howItWorks {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 960px;
}


.topGuiders {
  background-color: #f2f3f5;
  border-top: 1px solid #dddddd;
}

.topGuidersContent {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 1200px;
}


.gl-homepage-menu {
  display: block;
  float: left;
  margin-left: 50px;
  margin-top: 20px;
  color: #dadee0;
  text-decoration: none;
  text-transform: uppercase;
}

.gl-homepage-menu:hover {
  color: #dadee0;
  text-decoration: underline;
}
