<h1 class="profile-h1">Welcome to Guideler!</h1> <br>
<h2 class="profile-h2">How it works?</h2><br>
<div class="gl-embedFrame">
  <div class="clearfix">
    <iframe width="853" height="480" src="http://www.youtube.com/embed/RX7qFAqqzxM" frameborder="0" allowfullscreen></iframe>
  </div>
</div>