<div class="edit-topBar topBarSpace"> <h1 id="gl-guiderName"><%= guider.name %></h1> </div>

<div class="edit-stepBar center"></div>
    <h2 id="gl-guiderDescription"><%= guider.description %></h2>

Odkaz <input type="text" name="stepLink"><br>
<input type="text" name="question"><br>
<input type="text" name="answer1"><br>
<input type="text" name="answer2"><br>
<input type="text" name="answer3"><br>

<script type="text/javascript">
    initEditor();
</script>