<div id="gl-loading"></div>
<div id="gl-playerWindow">
  <div id="gl-playerTopBar">
    <div class="gl-guiderImage"></div>
    <h1 id="gl-guiderName" class="h1-player"><%= guider.name %></h1>
    <h2 id="gl-guiderDescription"><%= guider.description %></h2>
  </div>
  <div class="gl-circleButton gl-leftArrow" id="gl-leftArrow"><div class="arrowObject center"></div></div>
  <div class="gl-circleButton gl-rightArrow" id="gl-rightArrow"><div class="arrowObject center"></div></div>
  <div id="gl-playerCanvas">

      <div id="gl-questionWindow">
        <div id="gl-questionWindowClose"></div>
        <div class="gl-thinkTitle">Think</div>
        <div class="question" id="gl-questionText"></div>

        <div class="gl-playerAnswersWrapper">
          <div class="clearfix">
            <input type="radio" name="gl-answers" class="player-radio" value="1" id="gl-answerText1">
            <label for="gl-answerText1" class="mainFont player-answerField">Answer 1</label>

            <input type="radio" name="gl-answers" class="player-radio" value="2" id="gl-answerText2">
            <label for="gl-answerText2" class="mainFont player-answerField">Answer 2</label>

            <input type="radio" name="gl-answers" class="player-radio" value="3" id="gl-answerText3">
            <label for="gl-answerText3" class="mainFont player-answerField">Answer 3</label>
          </div>
        </div>

        <div id="gl-flashMessage"></div>
      </div>

    <div id="gl-stepsWrapper">
      <div id="gl-stepsContent" class="clearfix">

      </div>
    </div>
  </div>

  <div id="gl-playerBottomBar">
    <div id="gl-question"></div>
    <div class="player-barSplitter"></div>
    <div id="gl-progressBar" class="mainFont">0%</div>
    <div id="gl-stepsButtonWrapper"></div>
</div>

<script type="text/javascript">
    //createStepString("http://www.youtube.com/watch?v=J1IJpHDalvk");
    //runTests();
    initPlayer(<%= guider.id %>);
</script>