<div class="homepageHeader">
  <div class="homepageHeaderContent">


    <div class="gl-buttonOutside">
      <div class="clearfix">
        <div class="gl-buttonInner">
          <div class="clearfix">
            <%= link_to("CREATE GUIDER", new_guider_path, :class => "gl-buttonMain") %>
          </div>
        </div>
      </div>
    </div>

    <% if user_signed_in? %>
        <%= link_to("Me", display_profile_path, :class => "gl-homepage-menu") %>
    <% else %>
        <%= link_to("Login", new_user_session_path, :class => "gl-homepage-menu") %>
    <% end %>

    <br><br><br><br><br>

  <h1 class="hp-mainTitle">Textbook is super boring,<br>endless stream with no checkpoints.<br><br>Not with GuideLER!</h1>


  </div>
</div>
<div class="howItWorks center">
  <h2 class="homepageTitles">ALL-IN-ONE PLACE</h2>
  <h3 class="homepageTitles">Put all your study materials in one place - videos. images, web articles, PDFs, google docs, forms, ...</h3>
  <%= image_tag("homepage/hp-win.png", :alt => "How Guideler works", :class => "center") %>

</div>

<div class="topGuiders">
  <div class="topGuidersContent center">
  <h2 class="homepageTitles">MAKE YOUR COURSE INTERACTIVE</h2>
  </div>
</div>
<div class="pageFooter">
  <div class="pageFooterContent center">Facebook JOIN US | GUIDELER 2013, POWERED BY <a href="http>//www.slideslive.com" target="_blank">SLIDESLIVE</a>
  </div>
</div>
