<div class="homepageHeader topBarSpace">
  <h1 class="">ALL-IN-ONE PLACE</h1>
</div>
<div class="howItWorks center">
  <h2 class="homepageTitles">ALL-IN-ONE PLACE</h2>
  <h3 class="homepageTitles">Put all your study materials in one place - videos. images, web articles, PDFs, google docs, forms, ...</h3>
  <%= image_tag("homepage/hp-win.png", :alt => "How Guideler works", :class => "center") %>

</div>

<div class="topGuiders">
  <div class="topGuidersContent center">
  <h2 class="homepageTitles">MAKE YOUR COURSE INTERACTIVE</h2>
  </div>
</div>
<div class="pageFooter"></div>
