/* main font for varietz of uses */
.mainFont {
    font-family: 'Open Sans',sans-serif !important;
}

/* centering */
.center{
	display: block;
	text-align:center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

iframe {
    display: block;
    margin: 0px;
    padding: 0px;
}

/*-----CLEARFIX------------*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

