#profile-html{
    height: 100%;
}

#profile-body{
    height: 100%;
}

#profile-leftColumn {
    background-color: #454545;
    width: 17%;
    min-width: 250px;
    float: left;
    height: 100%;
    color: #dadee0;
}

#profile-leftColumn a{
    color: #dadee0;
    text-decoration: none;
}

#profile-leftColumn a:hover{
    color: #dadee0;
    text-decoration: underline;
}

#profile-topBar {
    background-color: #2e2e2e;
    width: 100%;
    min-height: 80px;
    padding: 10px;
    height: 8%;
}

#profile-topBar a{
    color: #dadee0;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    margin-left: 50px;
}

#profile-topBar a:hover{
    color: #dadee0;
    text-decoration: underline;
}

#profile-createBar {
    background-color: #0e0e0e;
    padding: 10px;
    min-height: 80px;
    margin-bottom: 40px;
    height: 8%;
}

#profile-content {
    float: left;
    width: 75%;
    padding: 3%;
}

.profile-guiderBox {
    width: 325px;
    margin-right: 40px;
    margin-bottom: 40px;
    float: left;

}

.profile-h1 {
    font-weight: 300;
    font-size: 45px;
    color: #3b4c58;
}

.profile-h2 {
    font-weight: 300;
    font-size: 30px;
    color: #3b4c58;
}

.profile-guiderImage {
    background-color: #000;
    width: 325px;
    height: 200px;

}